PYTHONPATH=.
SECRET_KEY=change-me
JWT_SECRET_KEY=change-me-too
NEWS_API_KEY=
ADMIN_PASSWORD=change-me

# Local:
# DATABASE_URL=mysql+pymysql://root@127.0.0.1/smart_farmasi_db

# Online MySQL example:
# DATABASE_URL=mysql+pymysql://username:password@host:3306/database_name

GOOGLE_WEB_CLIENT_ID=691571373089-t2r3oajabh78af9r1veh4oc5hhb4ebjg.apps.googleusercontent.com
GOOGLE_ANDROID_CLIENT_ID=691571373089-0bel2hsakmfo8u8841oljlc0iruhk8q1.apps.googleusercontent.com

# Gmail SMTP: gunakan Gmail App Password, bukan password akun Gmail biasa.
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-gmail-app-password
MAIL_DEFAULT_SENDER=your-email@gmail.com
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USE_SSL=false

OTP_EXPIRES_SECONDS=180
OTP_RESEND_COOLDOWN_SECONDS=180
OTP_MAX_ATTEMPTS=5
OTP_BYPASS_EMAILS=admin1@gmail.com
ADMIN_OTP_REQUIRED=true
